<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="sidong">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title><%= title %></title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- <link href="plugins/icomoon/style.css" rel="stylesheet">
        <link href="plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="plugins/switchery/switchery.min.css" rel="stylesheet"/>
        <link href="plugins/nvd3/nv.d3.min.css" rel="stylesheet">   -->
      
        <!-- Theme Styles -->
        <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
        <link href="css/custom.css" rel="stylesheet">

    </head>
    <body>
        <!-- Page Container -->
        <div class="page-container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="intro-flow">
                        <div class="intro-list intro-list-active">
                            <div class="intro-list-left">
                                Start
                            </div>
                            <div class="intro-list-right">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="intro-list">
                            <div class="intro-list-left">
                                Subject Information
                            </div>
                            <div class="intro-list-right">
                                <span>2</span>
                            </div>
                        </div>
        
                        <div class="intro-list">
                            <div class="intro-list-left">
                                Define subject learning outcomes (SLOs)
                            </div>
                            <div class="intro-list-right">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="intro-list">
                            <div class="intro-list-left">
                                Map SLOs to course outcomes
                            </div>
                            <div class="intro-list-right">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="intro-list">
                            <div class="intro-list-left">
                                Review mapping & improve or add SLOs if necessary
                            </div>
                            <div class="intro-list-right">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="intro-list">
                            <div class="intro-list-left">
                                Allocation of assessment % to SLOs
                            </div>
                            <div class="intro-list-right">
                                <span>6</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="items">
                        <div class="page">
                            <h3>JCUMap Subject Mapping Tool 1.0</h3>
                            <p class="subtitle">Developed by Dr David Holmes, Copyright 2014</p>
                            <p class="subtitle">Software created at James Cook University (JCU), funded in-part by a JCU Teching and Learning Development grant.</p>
                            <p>123</p>
                            <p>Create New Mapping Project</p>
                            <a href="/step">
                                <button type="button" class="btn btn-success">Next</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Javascripts -->
        <script src="js/jquery.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
         -->
        <!-- <script src="js/pages/dashboard.js"></script> -->

    </body>
</html>