<!DOCTYPE html>
<head>
    <title>Example</title>
</head>
<body>
    <form id="uploadForm" enctype="multipart/form-data" action="/test" method="post">
        <input type="file" name="filename"/>
        <input type="submit" value="添加">
    </form>
    
    <script src="js/jquery.js"></script>
    <script src="js/test.js"></script>
    
</body>
</html>